<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO</title>
</head>
<body>
    <header>
        <center><nav> 
            <a  href="index.html">INICIO &nbsp; </a> 
            <a  href="TEMPLATES\catalogo.html"> CATALOGO &nbsp; </a>
            <a  href="TEMPLATES\tarots y oraculo .html">  TAROTS Y ORÁCULOS  &nbsp; </a>
            <a href="TEMPLATES\mangas y comics.html"> MANGAS Y COMICS &nbsp;</a>
            <a href="TEMPLATES\libros.html"> LIBROS &nbsp;</a> 
            <a href="TEMPLATES\listas.html">LISTAS &nbsp;</a>
            <a  href="https://www.instagram.com/libreriaolympo_cartasdetarot/?igsh=MW5nMjZ4MnV4a3NzNQ%3D%3D" target="_blank" > INSTAGRAM  &nbsp;  </a> 
            <a  href="http://www.libreriaolympo.com.ar" target="_blank">  TIENDA ONLINE  &nbsp;  </a> 
            <a href="TEMPLATES\envios.html"> ENVÍOS &nbsp; </a>
            <a href="TEMPLATES\contacto.html"> CONTACTO &nbsp; </a>
            
           </nav>
           </center>
    </header>
    <main>
    <section>
        <CENTER> <h1> CONTACTANOS </h1> </CENTER>

    </section>

    <section>
        <CENTER><div>
            <h4>UBICACIÓN</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.0528012880022!2d-58.45674302426198!3d-34.552218472972875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd817358e89c402d%3A0xad143a6fd4303577!2sLibreria%20Olympo!5e0!3m2!1ses!2sar!4v1711766785131!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            " frameborder="0"></iframe>
         </div></CENTER>
    </section>
</main>
</body>
<footer>
    <h3> MANUEL UGARTE 1649 </h3> 
<h3> BELGRANO CIUDAD AUTONOMA DE BUENOS AIRES </h3>
</footer>
</html>