<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ENVIOS </title>
</head>
<CENTER><body>
    <header>
        <a  href="index.html">INICIO &nbsp; </a> 
        <a  href="TEMPLATES\catalogo.html"> CATALOGO &nbsp; </a>
        <a  href="TEMPLATES\tarots y oraculo .html">  TAROTS Y ORÁCULOS  &nbsp; </a> 
        <a href="TEMPLATES\mangas y comics.html"> MANGAS Y COMICS &nbsp;</a>
        <a href="TEMPLATES\libros.html"> LIBROS &nbsp;</a> 
        <a href="TEMPLATES\listas.html">LISTAS &nbsp;</a>
        <a  href="https://www.instagram.com/libreriaolympo_cartasdetarot/?igsh=MW5nMjZ4MnV4a3NzNQ%3D%3D" target="_blank" > INSTAGRAM  &nbsp;  </a> 
        <a  href="http://www.libreriaolympo.com.ar" target="_blank">  TIENDA ONLINE  &nbsp;  </a> 
        <a href="TEMPLATES\envios.html"> ENVÍOS &nbsp; </a>
        <a href="TEMPLATES\contacto.html"> CONTACTO &nbsp; </a>
    </header>
    <MAIN>
    <H1>ENVÍOS</H1>
    <section>
        <h4>TABLA DE ENVÍOS</h4>
        <TABLE border="1">
        <tr>
            <th>ZONA </th>
            <th>COSTO DE ENVÍO  </th>
            <th>DÍAS </th>
        </tr>
        <TR>
            <td>CABA Y VICENTE LOPEZ </td>
            <td>GRATIS</td>
            <td>MARTES Y VIERNES</td>
        </TR>
        
        <TR>
            <td>OESTE</td>
            <td>GRATIS</td>
            <td>MARTES</td>
        </TR>
        
        <TR>
            <td>SUR</td>
            <td>GRATIS</td>
            <td>VIERNES</td>
        </TR>
        
        <TR>
            <td>NORTE</td>
            <td>$3.000</td>
            <td>MARTES Y VIERNES</td>
        </TR>
        <TR>
            <td>LA PLATA</td>
            <td>$10.000</td>
            <td>VIERNES</td>
        </TR>
        <TR>
            <td>INTERIOR DEL PAIS</td>
            <td>CONSULTAR</td>
            <td>MARTES Y VIERNES</td>
        </TR>
        </TABLE>
        
        </section>
    </MAIN>
    
</body>
</CENTER>
<footer>
    <h3> MANUEL UGARTE 1649 </h3> 
<h3> BELGRANO CIUDAD AUTONOMA DE BUENOS AIRES </h3>
</footer>

</html>