<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBROS</title>
</head>
<body>
    <HEADer>
        <h1> <center>LIBRERIA OLYMPO </center> </h1>
        <center><nav> 
            <a  href="index.html">INICIO &nbsp; </a> 
            <a  href="TEMPLATES\catalogo.html"> CATALOGO &nbsp; </a>
            <a  href="TEMPLATES\tarots y oraculo .html">  TAROTS Y ORÁCULOS  &nbsp; </a> 
            <a href="TEMPLATES\mangas y comics.html"> MANGAS Y COMICS &nbsp;</a>
            <a href="TEMPLATES\libros.html"> LIBROS &nbsp;</a> 
            <a href="TEMPLATES\listas.html">LISTAS &nbsp;</a>
            <a  href="https://www.instagram.com/libreriaolympo_cartasdetarot/?igsh=MW5nMjZ4MnV4a3NzNQ%3D%3D" target="_blank" > INSTAGRAM  &nbsp;  </a> 
            <a  href="http://www.libreriaolympo.com.ar" target="_blank">  TIENDA ONLINE  &nbsp;  </a> > 
            <a href="TEMPLATES\envios.html"> ENVÍOS &nbsp; </a>
            <a href="TEMPLATES\contacto.html"> CONTACTO &nbsp; </a>
        
        </nav>
        </center>
    </HEADer>
    <center><main>
        <section>
        <h1> TERROR Y HORROR </h1>

        </section>

        <section>
            <h1> CIENCIA FICCION </h1>

        </section>

        <SECtion>
            <h1> ESOTERISMO </h1>

        </SECtion>

        <SECTION>
            <h1> AGENDAS </h1>
        </SECTION>

    </main></center>
    
</body>
</html>