<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> <center>LIBRERIA OLYMPO </center> </h1>
        <center><nav> 
            <a  href="index.html">INICIO &nbsp; </a> 
            <a  href="TEMPLATES\catalogo.html"> CATALOGO &nbsp; </a>
            <a  href="TEMPLATES\tarots y oraculo .html">  TAROTS Y ORÁCULOS  &nbsp; </a> 
            <a href="TEMPLATES\listas.html">LISTAS &nbsp;</a>
            <a  href="https://www.instagram.com/libreriaolympo_cartasdetarot/?igsh=MW5nMjZ4MnV4a3NzNQ%3D%3D" target="_blank" > INSTAGRAM  &nbsp;  </a> 
            <a  href="http://www.libreriaolympo.com.ar" target="_blank">  TIENDA ONLINE  &nbsp;  </a> 
            <a href="TEMPLATES\envios.html"> ENVÍOS &nbsp; </a>
            <a href="TEMPLATES\contacto.html"> CONTACTO &nbsp; </a>
        </nav>
        </center>
        
            </header>
    <main>
<section>
    <h1> TITULOS MAS VENDIDOS: </h1>
    <ol> 
        <br>
    <h3> <LI> <strong>LIGHT SEER`S </strong> &nbsp; &nbsp; &nbsp; &nbsp; <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/bf/e6/bfe6f3cc2f3558767459aa561713cc59.jpg" alt="LIGHT SEER`S" width="50" height="75"></LI></h3>
    <br>
    <br>
    <h3><LI> <strong>MODERN WITCH TAROT</strong> &nbsp; &nbsp; &nbsp; &nbsp;<img src="https://http2.mlstatic.com/D_NQ_NP_654356-MLA46078127196_052021-O.webp" alt="MODERN WITCH TAROT" width="55" height="75"> </LI></h3>
    <br>
    <br>
    <h3><LI> <strong>OSHO ZEN TAROT</strong> &nbsp; &nbsp; &nbsp; &nbsp; <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/c4/24/c4245f16b2151235596e12dafd039e6f.jpg" alt="OSHO ZEN TAROT" width="55" height="75"> </LI> </LI></h3>
    </oL>
    </SECtion>
    
    <br>
    <br>
    
    <h3>  TITULOS RECOMENDADOS: </h3>
    <SECtion>
        <br>
        <ul>
    
    <h4><strong><LI>TAROT DEL VIDENTE DE LUZ</LI></h4></strong>
    <h4><strong><LI>TAROT DE BRUJAS</LI></h4></strong>
    <h4><strong><LI>EVERYDAY WITCH</LI></h4></strong>
    <h4><strong><LI>FAIRY ORACLE</LI></h4></strong>
    <h4><strong><LI>UNDER THE ROSES LENORMAND</LI></h4></strong>
    
        </uL>
</section>


    </main>
    


    <footer>


    </footer>
</body>
</html>