<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBROS</title>
</head>
<body>
    <HEADer>
        <h1> <center>LIBRERIA OLYMPO </center> </h1>
        <center><nav> 
            <a  href="index.html">INICIO &nbsp; </a> 
            <a  href="TEMPLATES\catalogo.html"> CATALOGO &nbsp; </a>
            <a  href="TEMPLATES\tarots y oraculo .html">  TAROTS Y ORÁCULOS  &nbsp; </a> 
            <a href="TEMPLATES\mangas y comics.html"> MANGAS Y COMICS &nbsp;</a>
            <a href="TEMPLATES\libros.html"> LIBROS &nbsp;</a> 
            <a href="TEMPLATES\listas.html">LISTAS &nbsp;</a>
            <a  href="https://www.instagram.com/libreriaolympo_cartasdetarot/?igsh=MW5nMjZ4MnV4a3NzNQ%3D%3D" target="_blank" > INSTAGRAM  &nbsp;  </a> 
            <a  href="http://www.libreriaolympo.com.ar" target="_blank">  TIENDA ONLINE  &nbsp;  </a> > 
            <a href="TEMPLATES\envios.html"> ENVÍOS &nbsp; </a>
            <a href="TEMPLATES\contacto.html"> CONTACTO &nbsp; </a>
        
        </nav>
        </center>
    </HEADer>
    <center><main>
        <STRong><section>
        <h1> <U> MANGAS </U> </h1>
NARUTO &nbsp;
NARUTO SHIPPUDEN &nbsp;
BORUTO &nbsp;
<BR>
    <BR>
HIGH SCHOOL OF THE DEAD  &nbsp;
BERSERK &nbsp;
PARASYTE &nbsp;
BTOOOM!&nbsp;
<BR>
<BR>
MIRAI NIKKI &nbsp;
AO NO EXORCIST / BLUE EXORCIST &nbsp;
EVANGELION &nbsp;
<BR>
    <BR>
PRISIÓN SCHOOL &nbsp;
DEATH NOTE &nbsp;
ANOTHER &nbsp;
ATTACK ON TITAN &nbsp;
<BR>
<BR>
BOKU NO HERO &nbsp;
ONE PUNCH MAN &nbsp;
TOKYO GHOUL &nbsp;
<BR>
    <BR>
TOKYO GHOUL RE (SEGUNDA PARTE ) &nbsp;
SWORD ART ONLINE &nbsp;
AKAME GA KILL &nbsp;
BLEACH &nbsp;
<BR>
    <BR>
NORAGAMI &nbsp;
ASSASSINATION CLASSROOM &nbsp;
VINLAND &nbsp;
<BR>
    <BR>
DR STONE &nbsp;
DEMON SLAYER &nbsp;
BLACK CLOVER &nbsp;
MOB PSYCHO &nbsp;
<BR>
    <BR>
HUNTER X HUNTER &nbsp; 
PSYCHO PASS &nbsp;
DONT TOY WITH MY, MISS NAGATORO &nbsp; 
<BR>
    <BR>
TOMO-CHAN WA ONNANOKO! &nbsp;
TOKYO REVENGERS &nbsp;
CHAINSAW MAN &nbsp;
JUJUTSU KAISEN &nbsp;
<BR>
    <BR>
OVERLORD &nbsp; 
THE PROMISED NERVERLAND &nbsp; 
DORORO &nbsp;
<BR>
    <BR>
NO GAME NO LIFE &nbsp; 
THE RISING OF THE SHIELD HERO &nbsp;
YOJO SENKI &nbsp;
DRAGÓN BALL &nbsp;
<BR>
    <BR>
ONE PIECE &nbsp;
FULLMETAL ALCHEMIST &nbsp; 
CABALLEROS DEL SODIACO &nbsp;
<BR>
    <BR>
JOJOS &nbsp;
FATE &nbsp;
HELLSING &nbsp; 
<BR>
    <BR>
        </section></STRong>

        <section>
            <h1> <U>MARVEL</U> </h1>

        </section>

        <SECtion>
            <h1> <U> DC </U> </h1>
            
        </SECtion>
        <SECtion>
            <h1> <U>DARK HORSE </U></h1>
            
        </SECtion>

    </main></center>
    
</body>
</html>