<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header> 
            <h1> <center>LIBRERIA OLYMPO </center> </h1>
            <center><nav> 
                <a  href="index.html">INICIO &nbsp; </a> 
                <a  href="TEMPLATES\catalogo.html"> CATALOGO &nbsp; </a>
                <a  href="TEMPLATES\tarots y oraculo .html">  TAROTS Y ORÁCULOS  &nbsp; </a> 
                <a href="TEMPLATES\mangas y comics.html"> MANGAS Y COMICS &nbsp;</a>
                <a href="TEMPLATES\libros.html"> LIBROS &nbsp;</a> 
                <a href="TEMPLATES\listas.html">LISTAS &nbsp;</a>
                <a  href="https://www.instagram.com/libreriaolympo_cartasdetarot/?igsh=MW5nMjZ4MnV4a3NzNQ%3D%3D" target="_blank" > INSTAGRAM  &nbsp;  </a> 
                <a  href="http://www.libreriaolympo.com.ar" target="_blank">  TIENDA ONLINE  &nbsp;  </a> > 
                <a href="TEMPLATES\envios.html"> ENVÍOS &nbsp; </a>
                <a href="TEMPLATES\contacto.html"> CONTACTO &nbsp; </a>
            
            </nav>
            </center>
            
    </header>


<!-- ACA VA TODO EL CONTENIDO -->
<main>
    <section>
<h2> <CENTER><u> Liminal 11 </u> </CENTER></h2>
<br>
<br>

<CENTER> <img src="https://i.etsystatic.com/14729008/r/il/f7af5e/3618596942/il_570xN.3618596942_sz6o.jpg" alt="modern witch">  </CENTER>

<h2> <CENTER> <u> Guy Tredaniel</u> </CENTER></h2>
<CENTER><img src="https://http2.mlstatic.com/D_NQ_NP_947402-MLU70776398552_072023-O.webp" alt="el tarot dorado real">  </CENTER>
<H2><CENter> LO SCARABEO </CENter></Em></H2>
<CENTER> <img src="../IMG/WITCHCRAFT  (2).PNG" alt="silver witchcraft tarot"> </CENTER>
</section>
<br>
<br>
<section>
    <div><h2> <CENTER> <u> RANA GEORGE LENORMAND - US GAMES INC </u> </CENTER></h2>
    <CENTER><video src="../VIDEOS/Video de WhatsApp 2024-03-29 a las 22.29.07_fd25a234.mp4" controls ></video></CENTER>
</div>

</section>



</main>


<!-- A PARTIR DE ACA ES EL PIE DE PAGINA -->
<footer>
<h3> TAROT Y ORÁCULOS </h3>

</footer>


</body>
</html>